* {
    font-family: helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("../images/pattern.jpeg");
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes-title {
    background-color: mediumspringgreen;
}

.frames-title {
    background-color: lightcoral;
}

.paint-title {
    background-color: skyblue;
}

a {
    font-weight: bold;
    color: blue;
}